extends layout

block content
  h1 #{title} Form 
  form(action="/login" method="POST")
    .form-block
      label(for="username") Username
      input(id="username" name="username" placeholder="username" type="text" required)
    .form-block
      label(for="password") Password
      input(id="password" name="password" placeholder="password" type="password" required)
    button.submit Log in
  if message
    p.error #{message}