extends layout

block content
  form(action="/member" method="POST")
    label(for="member") Enter member password HINT: ------
    input(id="member" name="member" type="text" required)
    button.submit Submit
