extends layout

block content
  form(action="/member" method="POST")
    .form-block
      label(for="member") Enter member password HINT: ------
      input(id="member" name="member" type="password" required)
    button.submit Submit
  if message
    p.error #{message}
