extends layout

block content
  form(action="/message" method="POST")
    label(for="title")
    input(id="title" name="title" type="text")
    label(for="message")
    textarea(id="message" name="message" )
    button.submit(type="submit") Submit Message

  if errors
    each error in errors
      p=error.msg