extends layout

block content
  h1 #{title} Form 
  form(action="/message" method="POST")
    .form-block
      label(for="title") Title
      input(id="title" name="title" type="text")
    .form-block
      label(for="message") Message
      textarea(id="message" name="message" )
    button.submit(type="submit") Submit Message

  if errors
    each error in errors
      p.error #{error.msg}